body{
    background: rgb(254,254,254);
    background: linear-gradient(45deg, rgba(254,254,254,1) 0%, rgba(0,146,255,1) 50%, rgba(0,95,255,1) 100%);
    background-repeat: no-repeat;
}

.logo{
    max-width: 75px;
    min-width: 75px;
}